# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# secrets
.env

# cache stuff
__pycache__/
testing/

model/
.venv/

# hailo coprocessor stuff
hailort.log
hailort-*.log
.hailo-venv
.hailo-tappas-venv

# models
yolov8n.pt
yolov8n-best.pt
